header {
    background-color: #0b4f32; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .log {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    color: rgb(230, 230, 230);
    text-decoration: none;
    font-weight: 500;
}

#hero {
    height: 350px;
    background-color: #71c79c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.2rem;
}


#projetos {
    padding: 40px;
}

#projetos h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.card {
    background-color: #d9d6d6;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 10px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
}

.card a {
    display: inline-block;
    background-color: #057746;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    opacity: 0.8;
}


footer {
    background-color: #213b30;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 40px;
}